api/node_modules/


# Nuxt dev/build outputs
/html/output
/html/data
/html/nuxt
/html/nitro
/html/cache
/html/dist

# Node dependencies
/html/node_modules

# Logs
/html/logs

# Misc
/html/DS_Store
/html/fleet
/html/idea
