#header {
    position: fixed;
    width: 100%;
    background-color: #24cd77;
    z-index: 999999;
    top: 0
}

#header #nav_user_img {
    border-radius: 50%
}

#header a,#header button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    text-decoration: none
}

#header .so {
    margin-top: 5px
}

#header .logo {
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    float: inherit;
    margin: 0
}

#header .logo .p_logo {
    display: none
}

#header .menu_btn {
    display: flex;
    width: 45px;
    height: 45px;
    border: none;
    background: 0 0;
    color: #24cd77;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

#header .search_btn {
    display: flex;
    width: 45px;
    height: 45px;
    border: none;
    background: 0 0;
    color: #24cd77;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 0;
    left: auto
}

.nav_container {
    width: 100%;
    flex: 1;
    z-index: 99999
}

.nav_container .nav_new {
    transition-duration: 300ms;
    transition-property: left, right;
    left: -271px;
    position: fixed;
    display: initial;
    background-color: #fff;
    top: 0;
    height: 100%;
    align-items: start;
    min-width: 200px;
    z-index: 10001
}

.nav_container .search {
    padding: 0 24px;
    display: none
}

.nav_container .search form {
    height: 36px;
    position: relative
}

.nav_container .search .search-input {
    width: 600px;
    box-sizing: border-box;
    height: 46px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: -5px;
    margin-left: -300px
}

.nav_container .search .search-input .search-btn-icon {
    position: absolute;
    left: 14px;
    top: 13px;
    width: 20px;
    height: 20px;
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    background-position: -40px -20px;
    background-size: 200px;
    border: 0 none;
    background-color: transparent;
    outline: 0;
    cursor: pointer
}

.nav_container .search .search-input>span {
    width: 100%
}

.nav_container .search .search-input>span input {
    width: 100%;
    height: 46px;
    display: block;
    overflow: hidden;
    line-height: 46px;
    font-size: 14px;
    font-weight: normal;
    padding-left: 44px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    box-sizing: border-box
}

.nav_container .icon {
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    width: 24px;
    height: 24px
}

.nav_container .icon.icon_search {
    background-position: 0px -24px
}

.nav_container .icon.icon_close {
    background-position: 0 -48px
}

.nav_container .icon.icon_home {
    background-position: 0 -72px
}

.nav_container .icon.icon_game {
    background-position: 0 -96px
}

.nav_container .icon.icon_app {
    background-position: 0 -120px
}

.nav_container .icon.icon_article {
    background-position: 0 -144px
}

.nav_container .icon.icon_product {
    background-position: 0 -192px
}

.nav_container .icon.icon_tv {
    background-position: 0 -216px
}

.so .search-btn {
    display: block;
    width: 40px;
    height: 35px;
    line-height: 35px;
    background-color: transparent;
    border: 0 none;
    outline: none;
    text-align: center
}

.so .search-btn .search-btn-icon {
    display: inline-block;
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    width: 24px;
    height: 24px;
    background-position: 0px -24px;
    vertical-align: middle
}

.search-history {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: calc(100vh - 45px);
    z-index: 99;
    display: none;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto
}

.search-history .search-history-title {
    padding-left: 16px;
    height: 46px;
    line-height: 46px
}

.search-history .search-history-title span {
    font-size: 14px;
    line-height: 22px;
    color: #4B4B4B
}

.search-history .search-history-title .search-history-delete {
    float: right;
    width: 44px;
    height: 46px;
    line-height: 46px;
    text-align: center
}

.search-history .search-history-title .search-icon-remove {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    background-position: 0 -320px;
    background-size: 200px;
    vertical-align: middle
}

.search-history .search-history-list li {
    position: relative
}

.search-history .search-history-list li .search-history-item {
    display: block;
    margin-right: 44px;
    line-height: 46px;
    padding-left: 13px
}

.search-history .search-history-list li .search-history-item>div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.search-history .search-history-list li .search-history-item .search-icon-time {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    background-position: 0 -340px;
    background-size: 200px
}

.search-history .search-history-list li .search-history-item .content {
    margin-left: 8px;
    font-size: 14px;
    color: #5E5E5E
}

.search-history .search-history-list li .search-history-item-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    cursor: pointer
}

.search-history .search-history-list li .search-history-item-delete .icon-search-history-item-delete {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    background-position: -20px -40px;
    background-size: 200px
}

.search-history .search-history-list li:hover {
    background-color: #F8F9FA
}

.search-history .search-history-list li:hover .search-history-item .search-icon-time {
    background-position: -20px -340px
}

.search-history .search-history-list li:hover .search-history-item .content {
    color: #24CD77
}

.ar_fix .nav_container .search-left input {
    padding-left: 30px;
    padding-right: 8px
}

.ar_fix .nav_container .nav_new {
    right: -271px;
    left: initial
}

.ar_fix .nav_container .search .search-left {
    right: auto;
    left: 0
}

.ar_fix .nav_container .search .search-input .search-btn-icon {
    left: auto;
    right: 14px
}

.ar_fix .nav_container .search .search-input>span input {
    padding-left: 0;
    padding-right: 44px
}

.ar_fix .nav_container .search-right {
    right: auto;
    left: 0
}

.ar_fix .nav_new .search .tt-dataset .info .info-intro {
    text-align: right
}

.ar_fix .nav_new .search .tt-dataset .info .info-intro>span {
    margin-left: 12px;
    margin-right: initial
}

.ar_fix .nav_new .search .tt-dataset .icon {
    margin-left: 12px;
    margin-right: initial
}

.ar_fix .nav_new .search .clear-input {
    right: auto;
    left: 15px
}

.ar_fix .nav_new .search .search-mask {
    float: left;
    margin-right: 0;
    margin-left: 4px
}

.ar_fix .nav_new .search .search-mask .search-mask-icon {
    margin-right: 0;
    margin-left: 8px
}

.ar_fix .nav_new .item>a,.ar_fix .nav_new .item>span {
    padding-left: initial;
    padding-right: 50px
}

.ar_fix .nav_new .item>a>.icon,.ar_fix .nav_new .item>span>.icon {
    left: initial;
    right: 16px
}

.ar_fix .nav_new .many::after {
    left: 19px;
    right: auto
}

.ar_fix .nav_new .nav_user_new .nav_user_info .display_name {
    margin-right: 12px
}

.ar_fix #header .menu_btn {
    right: 0;
    left: auto
}

.ar_fix #header .search_btn {
    left: 0;
    right: auto
}

.ar_fix .item.nav_user_new>a,.ar_fix .item.nav_user_new span {
    padding-left: 12px;
    padding-right: 0
}

.ar_fix .search-history .search-history-title {
    padding-left: 0;
    padding-right: 16px
}

.ar_fix .search-history .search-history-title .search-history-delete {
    float: left
}

.ar_fix .search-history .search-history-list li .search-history-item {
    padding-left: 0;
    padding-right: 13px;
    margin-left: 44px;
    margin-right: 0
}

.ar_fix .search-history .search-history-list li .search-history-item .content {
    margin-left: 0;
    margin-right: 8px
}

.ar_fix .search-history .search-history-list li .search-history-item-delete {
    right: auto;
    left: 0
}

.ar_fix .search-history .search-history-list li:hover {
    background-color: #F8F9FA
}

.ar_fix .search-history .search-history-list li:hover .search-history-item .search-icon-time {
    background-position: -20px -340px
}

.ar_fix .search-history .search-history-list li:hover .search-history-item .content {
    color: #24CD77
}

.open_menu .shadow {
    display: block
}

.open_menu .nav_container .nav_new {
    width: 60%;
    min-width: 200px;
    max-width: 251px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff
}

.open_menu .nav_container .nav_new .close_item {
    height: 48px
}

.open_menu .nav_container .nav_new .close_item button {
    border: 0
}

.open_menu .nav_container .nav_new .close_item .icon {
    width: 20px;
    height: 20px;
    cursor: pointer
}

.nav_new .menu-item-pwa .menu-icon-pwa {
    background-image: url("https://static.apkpure.com/mobile/static/imgs/home_screen.svg");
    display: inline-block;
    background-size: 24px;
    height: 24px;
    width: 24px;
    margin: auto;
    position: relative;
    top: 6px;
    background-size: 24px;
    background-position: 0
}

.nav_new i.icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 16px;
    fill: #8B8B8B;
    background-position: -24px 0
}

.nav_new .close_item>a,.nav_new .close_item>span {
    height: 20px
}

.nav_new .item {
    padding-top: initial;
    padding-bottom: initial;
    line-height: 36px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff
}

.nav_new .item>a,.nav_new .item>span {
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    color: #4B4B4B;
    padding: 5px 12px 5px 8px;
    display: block;
    position: relative;
    padding-left: 50px
}

.nav_new .item:hover {
    background-color: #F8F9FA
}

.nav_new .item:hover>a,.nav_new .item:hover>span {
    color: #24cd77
}

.nav_new .item:hover .icon_home {
    background-position: -24px -72px
}

.nav_new .item:hover .icon_game {
    background-position: -24px -96px
}

.nav_new .item:hover .icon_app {
    background-position: -24px -120px
}

.nav_new .item:hover .icon_article {
    background-position: -24px -144px
}

.nav_new .item:hover .icon_product {
    background-position: -24px -192px
}

.nav_new .item:hover .icon_tv {
    background-position: -24px -216px
}

.nav_new .item .menu_body a {
    padding: 0;
    display: block;
    white-space: nowrap;
    background: none;
    font-weight: 400;
    line-height: 36px;
    height: auto;
    font-size: 14px;
    padding-left: 40px;
    color: #777
}

.nav_new .item .menu_body a:hover {
    color: #24cd77
}

.nav_new .item>a.nav-l,.nav_new .item>span.nav-l {
    padding: 0 16px
}

.nav_new .item .nav_submenu {
    text-transform: none;
    display: none;
    top: 46px;
    left: 0;
    background: #F8F9FA;
    padding: 0 12px;
    border: 0
}

.nav_new .item .nav_submenu-item {
    height: auto
}

.nav_new .search a .tt-highlight {
    color: #24cd77
}

.nav_new .search div.search-package .tt-highlight {
    color: #24cd77
}

.nav_new .search .tt-dataset .info {
    min-width: 0;
    line-height: 0
}

.nav_new .search .tt-dataset .info .info-title {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
    color: #5E5E5E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%
}

.nav_new .search .tt-dataset .info .info-title .corner-tag-icon-box .corner-tag-icon {
    line-height: 22px
}

.nav_new .search .tt-dataset .info .info-title strong {
    color: #24cd77
}

.nav_new .search .tt-dataset .info .info-intro {
    font-size: 12px;
    line-height: 16px;
    color: #A6A6A6;
    direction: initial
}

.nav_new .search .tt-dataset .info .info-intro>span {
    margin-right: 12px
}

.nav_new .search .tt-dataset .info .info-intro .install-total {
    font-size: 12px;
    line-height: 16px;
    color: #A6A6A6
}

.nav_new .search .tt-dataset .search-package {
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav_new .search .tt-dataset .search-package .da {
    flex-shrink: 0;
    font-size: 12px;
    line-height: 24px;
    padding: 0 8px;
    background: #24CD77;
    color: #fff;
    font-weight: 400;
    border-radius: 4px
}

.nav_new .search .tt-dataset .search-package .da * {
    color: #fff;
    font-weight: 400
}

.nav_new .search .tt-dataset .search-package .da.normal-download {
    margin-left: 12px
}

.nav_new .search .tt-dataset .search-package:hover {
    background-color: #F8F9FA
}

.nav_new .search .tt-dataset a.tt-suggestion {
    display: block;
    padding: 10px 16px;
    color: inherit
}

.nav_new .search .tt-dataset a.tt-suggestion:hover {
    background-color: #F8F9FA
}

.nav_new .search .tt-dataset .icon {
    width: 48px;
    height: 48px;
    border-radius: 15%;
    border: 1px solid #EEF3FA;
    box-sizing: border-box;
    margin-right: 12px;
    flex-shrink: 0;
    background: #FFFFFF
}

.nav_new .search .tt-menu {
    background-color: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.06);
    margin-top: -1px;
    padding: 8px 0;
    width: 100%;
    box-sizing: border-box
}

.nav_new .search .tt-menu::before {
    content: '';
    height: 8px;
    width: 100%;
    position: absolute;
    top: -8px;
    left: -1px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    background-color: #ffffff;
    border-bottom: 1px solid #EEEEEE
}

.nav_new .search p {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 20px;
    text-transform: none !important;
    font-weight: normal !important;
    word-break: break-all
}

.nav_new .search .tt-hint {
    color: #999 !important
}

.nav_new .search p.tt-suggestion:hover {
    cursor: pointer;
    color: #24cd77;
    background-color: #24cd77
}

.nav_new .search .search-package .package-info {
    display: flex;
    overflow: hidden
}

.nav_new .search .search-package .package-info .info .info-intro i.user,.nav_new .search .search-package .package-info .info .info-intro i.download,.nav_new .search .search-package .package-info .info .info-intro .stars-box>i {
    display: inline-block;
    height: 12px;
    background-size: 12px;
    width: 12px;
    top: 1px;
    position: relative;
    background: url("https://static.apkpure.com/www/static/imgs/stars.svg") no-repeat left center
}

.nav_new .search .search-package .package-info .info .info-intro i.user {
    background-image: url("https://static.apkpure.com/www/static/imgs/comment_user.png");
    background-size: 10px
}

.nav_new .search .search-package .package-info .info .info-intro i.download {
    background-image: url("https://static.apkpure.com/www/static/imgs/download-icon.png");
    background-size: contain
}

.nav_new .search .search-package .package-info .info .info-intro>span>i {
    margin-right: 4px
}

.nav_new .search .searching-show {
    display: none
}

.nav_new .search .clear-input {
    position: absolute;
    right: 15px;
    top: 15px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    background-position: -20px -40px;
    background-size: 200px;
    cursor: pointer;
    display: none
}

.nav_new .search .search-mask {
    float: right;
    padding: 9px 12px;
    line-height: 16px;
    cursor: pointer;
    margin-right: 4px
}

.nav_new .search .search-mask .search-mask-icon {
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    width: 24px;
    height: 24px;
    background-position: -48px -24px;
    background-size: 240px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px
}

.nav_new .search .search-mask span {
    font-size: 12px;
    color: #C5C5C5;
    display: none
}

.nav_new .nav_user_new {
    display: flex;
    align-items: center
}

.nav_new .nav_user_new .nav_user_info .display_name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
    display: block
}

.nav_new .nav_user_new .nav_user_info .display_name:hover {
    color: #24cd77
}

.nav_new .nav_user_new .nav_user_info a.logout {
    display: none
}

.nav_new .nav_user_new .nav_user_info a.logout:hover {
    color: #24cd77
}

.nav_new .nav_user_new .nav_user_info div img {
    display: none
}

.nav_new .item.many:hover {
    background-color: #fff;
    background-attachment: fixed
}

.nav_new .many::after {
    content: " ";
    position: absolute;
    right: 19px;
    top: 16px;
    opacity: .9;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000
}

.nav_new .many.open .nav_submenu {
    display: block
}

.nav_new .many.open::after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.nav_new .item.nav_user_new {
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 8px;
    padding: 12px 16px
}

.nav_new .item.nav_user_new>a,.nav_new .item.nav_user_new>span {
    padding-left: 0
}

.nav_new .item.nav_tv {
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 8px
}

.nav_new .item.nav_home {
    margin-top: 8px
}

.nav_new .item.menu-item-pwa {
    margin-top: 8px
}

.nav_new.searching .search .search-mask {
    display: none
}

.nav_new.searching .search .searching-show {
    display: block
}

.nav_new.searching .searching-hide {
    display: none
}

.menu-user-layer {
    padding: 6px 35px 6px 6px;
    position: relative;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.menu-user-layer img {
    position: relative;
    top: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px
}

.menu-layer {
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px 0 6px 15px;
    position: relative;
    top: -3px
}

.menu-only-text {
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.nav_submenu {
    position: initial
}

.shadow {
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    padding-bottom: 60px
}

.search_m_nav .so .search-package .package-info .info .info-intro {
    direction: initial
}

.ar_fix .so .search-package .package-info .info .info-intro>span {
    margin-left: 12px;
    margin-right: auto
}

.ar_fix .nav_new .search .tt-dataset .search-package .da.normal-download {
    margin-left: 0;
    margin-right: 12px
}

.tt-dataset .info .info-intro>span::before {
    content: ' ';
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    background-size: 10px;
    margin-right: 4px;
    top: 1px
}

.tt-dataset .info .info-intro .score {
    color: #FA8B16
}

.tt-dataset .info .info-intro .score::before {
    top: 1.5px;
    width: 12px;
    height: 12px;
    background-size: 12px;
    background-image: url("https://static.apkpure.com/www/static/imgs/stars.svg")
}

.tt-dataset .info .info-intro .score[data-score="0.0"] span {
    color: #A6A6A6
}

.tt-dataset .info .info-intro .score[data-score="0.0"]::before {
    background-image: url("https://static.apkpure.com/www/static/imgs/stars_fill.svg")
}

.tt-dataset .info .info-intro .install-total {
    font-size: 12px;
    line-height: 16px;
    color: #A6A6A6
}

.tt-dataset .info .info-intro .install-total::before {
    background-image: url("https://static.apkpure.com/www/static/imgs/icon_download.svg")
}

.tt-dataset .info .info-intro .score-total::before {
    background-image: url("https://static.apkpure.com/www/static/imgs/icon_comment_count.svg")
}

@media (min-width: 1155px) {
    .nav_new .search .search-mask {
        width:300px;
        box-sizing: border-box;
        border: 1px solid #EEEEEE;
        border-radius: 8px;
        cursor: text
    }

    .nav_new .search .search-mask .search-mask-icon {
        width: 20px;
        height: 20px;
        background-position: -40px -20px;
        background-size: 200px
    }

    .nav_new .search .search-mask span {
        display: inline
    }
}

@media (min-width: 996px) {
    #header {
        border-bottom:1px solid #E7E7E7;
        background-color: #fff
    }

    #header .search_m_nav {
        display: none
    }

    #header .logo .p_logo {
        display: inherit;
        margin-top: -6px
    }

    #header .logo .m_logo {
        display: none
    }

    #header .nav_new {
        margin-left: 44px
    }

    #header .nav_new.searching {
        margin-left: 0px
    }

    #header .menu_btn {
        display: none
    }

    #header .search_btn {
        display: none
    }

    .nav_container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center
    }

    .nav_container .search {
        display: block;
        flex: 1
    }

    .nav_container .nav_new {
        position: inherit;
        height: 70px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        flex: 1
    }

    .nav_container .nav_new .close_item {
        display: none
    }

    .nav_container .nav_right {
        display: block
    }

    .menu-user-layer {
        padding: 0
    }

    .menu-user-layer img {
        width: 35px;
        height: 35px;
        position: inherit;
        top: inherit;
        border-radius: inherit
    }

    .nav_new .item {
        line-height: 32px;
        padding: 10px 12px;
        width: inherit
    }

    .nav_new .item .nav_submenu {
        background-color: #fff
    }

    .nav_new .item .menu_body {
        padding: 12px
    }

    .nav_new .item .menu_body a {
        padding: 0
    }

    .nav_new .item:hover {
        background-color: #fff
    }

    .nav_new .item>a,.nav_new .item>span {
        padding: 0;
        font-weight: 500;
        color: #777;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer
    }

    .nav_new .item>a .icon,.nav_new .item>span .icon {
        display: none
    }

    .nav_new .item>a.nav-l {
        padding: 0
    }

    .nav_new .item.nav_user_new {
        border: 0;
        background-color: #F5F5F5;
        order: 9
    }

    .nav_new .item.nav_user_new:hover .nav_user_info {
        display: block;
        -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,0.15));
        filter: drop-shadow(0 0 5px rgba(0,0,0,0.15))
    }

    .nav_new .item.nav_user_new:hover .nav_user_info::before {
        content: " ";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        position: absolute;
        top: -10px;
        right: 12px
    }

    .nav_new .item.nav_tv {
        border: 0
    }

    .nav_new .item.nav_home {
        display: none
    }

    .nav_new .menu-item-pwa {
        display: none !important
    }

    .nav_new .many {
        margin-right: 18px
    }

    .nav_new .many::after {
        right: -4px;
        top: 20px;
        width: 4px;
        height: 4px;
        border: none;
        border-right: 2px solid #777;
        border-bottom: 2px solid #777;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg)
    }

    .nav_new .many:hover::after {
        border-bottom-width: 2px;
        border-color: #24cd77;
        -webkit-transform: rotateZ(-135deg);
        transform: rotateZ(-135deg);
        top: 22px
    }

    .nav_new .many:hover .nav_submenu {
        display: block;
        min-width: 120px;
        overflow: inherit;
        border-radius: 4px;
        z-index: 1
    }

    .nav_new .many:hover .nav_submenu::before {
        content: " ";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        position: absolute;
        top: -10px;
        left: 8px
    }

    .nav_new .nav_user_new {
        height: 100%;
        background-color: #F5F5F5;
        padding: 10px 12px
    }

    .nav_new .nav_user_new .nav_user_info {
        width: 180px;
        text-align: center;
        position: absolute;
        line-height: 25px;
        padding: 21px 18px 16px;
        top: 70px;
        right: 0px;
        background: #fff;
        border: 1px solid #e8e8e8;
        z-index: 999999;
        display: none;
        border-radius: 4px
    }

    .nav_new .nav_user_new .nav_user_info a.logout {
        position: absolute;
        display: inherit;
        top: 18px;
        right: 18px;
        font-size: 13px;
        color: #9a9a9a;
        cursor: pointer;
        z-index: 5;
        height: 21px;
        line-height: 21px;
        font-weight: normal;
        max-width: 62px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .nav_new .nav_user_new .nav_user_info div img {
        display: inherit;
        border-radius: 50%
    }

    .nav_new .nav_user_new .nav_user_info .display_name {
        margin-top: 8px;
        font-weight: 600
    }

    .nav_new .item.group {
        display: none
    }

    .nav_new .search .tt-dataset {
        max-height: 348px;
        overflow: hidden;
        border-radius: 0 0 8px 8px
    }

    .ar_fix .nav_new .item>a,.ar_fix .nav_new .item>span {
        padding: 0
    }

    .ar_fix .nav_new .nav_user_new .nav_user_info {
        left: 0;
        right: auto
    }

    .ar_fix .nav_new .nav_user_new .nav_user_info .display_name {
        margin-right: 0
    }

    .ar_fix .nav_new .item.nav_user_new:hover .nav_user_info::before {
        left: 8px;
        right: auto
    }

    .ar_fix .nav_new .many {
        margin-right: auto;
        margin-left: 18px
    }

    .ar_fix .nav_container .nav_new {
        margin-right: 50px
    }

    .nav_submenu {
        position: absolute;
        -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,0.15));
        filter: drop-shadow(0 0 5px rgba(0,0,0,0.15));
        background-color: #fff
    }

    .nav_menu-item:hover .nav_submenu {
        left: auto;
        right: 0;
        top: 70px
    }

    .search-history {
        top: 40px;
        left: 50%;
        width: 600px;
        height: auto;
        z-index: 99;
        display: none;
        background-color: #fff;
        overflow-x: visible;
        overflow-y: visible;
        margin-left: -300px;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 3px 4px rgba(0,0,0,0.06);
        border-radius: 0 0 8px 8px;
        box-sizing: border-box
    }

    .search-history .search-history-title {
        display: none
    }

    .search-history .search-history-list {
        max-height: 276px;
        overflow: hidden;
        border-radius: 0 0 8px 8px
    }

    .search-history .search-history-list li {
        position: relative
    }

    .search-history .search-history-list li .search-history-item {
        display: block;
        margin-right: 44px;
        line-height: 46px;
        padding-left: 13px
    }

    .search-history .search-history-list li .search-history-item>div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .search-history .search-history-list li .search-history-item .search-icon-time {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
        background-position: 0 -340px;
        background-size: 200px
    }

    .search-history .search-history-list li .search-history-item .content {
        margin-left: 8px;
        font-size: 14px;
        color: #5E5E5E
    }

    .search-history .search-history-list li .search-history-item-delete {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 46px;
        line-height: 46px;
        text-align: center
    }

    .search-history .search-history-list li .search-history-item-delete .icon-search-history-item-delete {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
        background-position: -20px -40px;
        background-size: 200px
    }

    .search-history .search-history-list li:hover {
        background-color: #F8F9FA
    }

    .search-history .search-history-list li:hover .search-history-item .search-icon-time {
        background-position: -20px -340px
    }

    .search-history .search-history-list li:hover .search-history-item .content {
        color: #24CD77
    }

    .search-history::before {
        content: '';
        height: 8px;
        width: 100%;
        position: absolute;
        top: -8px;
        left: -1px;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        background-color: #ffffff;
        border-bottom: 1px solid #EEEEEE
    }

    .ar_fix #header .nav_new {
        margin-left: 0
    }

    .ar_fix #header .nav_new.searching {
        margin-right: 0
    }

    .ar_fix .search-history .search-history-list li .search-history-item {
        margin-left: 44px;
        margin-right: 0;
        padding-left: 0;
        padding-right: 13px
    }

    .ar_fix .search-history .search-history-list li .search-history-item .content {
        margin-left: 0;
        margin-right: 8px
    }

    .ar_fix .search-history .search-history-list li .search-history-item-delete {
        right: auto;
        left: 0
    }
}

.footer_new {
    background-color: #fff;
    overflow: initial;
    width: 100% !important
}

.footer_new .footer_container {
    padding: 0 16px;
    margin: 0 auto
}

.footer_new .footer_container .other .menu_list .menu_body a {
    padding: 5px;
    height: auto;
    line-height: 26px;
    color: #777
}

.footer_new .footer_container .other .menu_list .menu_body a .beta {
    background-color: #FA8B16;
    color: #fff;
    padding: 0 2px;
    font-size: 8px;
    font-style: initial;
    border-radius: 2px
}

.footer_new .footer_container .other .menu_list li:hover a {
    color: #24cd77;
    background-color: transparent
}

.footer_new .other {
    border-top: 1px solid #E7E7E7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 0
}

.footer_new .other .info {
    color: #A6A6A6;
    font-size: 12px;
    line-height: 20px;
    text-align: center
}

.footer_new .other .info a {
    color: #A6A6A6;
    font-size: 12px;
    line-height: 20px;
    text-align: center
}

.footer_new .other .info a:hover {
    color: #24cd77
}

.footer_container>.info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer_container .info .base_info>p {
    font-size: 12px;
    line-height: 16px;
    margin: 12px 0;
    color: #A6A6A6
}

.footer_container .info .share-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.footer_container .info .share-box li {
    margin-right: 6px
}

.footer_container .info .share-box li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px
}

.footer_container .info .share-box li>a.telegram {
    fill: currentColor
}

.footer_container .info .share-box li>a.telegram:hover {
    color: #8B8B8B
}

.footer_container .info .share-box li .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    background-position: 0 -264px
}

.footer_container .info .share-box li .icon.f_icon_twitter {
    background-position: 0 -288px
}

.footer_container .info .share-box li .icon.f_icon_youtube {
    background-position: 0 -312px
}

.footer_container .info .share-box li .icon.f_icon_vk {
    background-position: 0 -336px
}

.footer_container .info .share-box li .icon.f_icon_ok_ru {
    background-position: 0 -360px
}

.footer_container .info .item {
    padding: 12px 0
}

.footer_container .info .item .title {
    font-weight: 500;
    font-size: 16px;
    color: #777
}

.footer_container .info .item ul li {
    margin-top: 8px
}

.footer_container .info .item ul li a {
    color: #8B8B8B;
    font-size: 13px;
    line-height: 22px
}

.footer_container .info .item ul li a:hover {
    color: #24cd77
}

.footer_container .info .item ul.share-box li:last-child {
    margin-bottom: 0
}

.footer_container .info .item:last-child ul li:last-child {
    margin-bottom: 0
}

.footer_container .info .item>p {
    margin: 12px 0 4px;
    color: #8B8B8B;
    font-size: 13px;
    line-height: 22px
}

.footer_container .info .item.group {
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 8px;
    width: 100%;
    margin-bottom: 8px
}

.footer_container .current_box {
    line-height: 28px;
    padding: 0 10px;
    color: #6f6f6f;
    position: relative;
    border: 1px solid #E7E7E7;
    display: inline-block;
    margin: 8px auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.footer_container .current_box.enable_switch .current_lang {
    cursor: pointer
}

.footer_container .current_box.enable_switch .current_lang::after {
    content: " ";
    position: absolute;
    right: -6px;
    top: 12px;
    opacity: .4;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000
}

.footer_container .current_box.enable_switch.open .current_lang {
    color: #24cd77
}

.footer_container .current_box.enable_switch.open .current_lang::before {
    background-position: -24px -240px
}

.footer_container .current_box.enable_switch.open .current_lang::after {
    border-bottom: 4px solid #000;
    border-top: 0
}

.footer_container .current_box.enable_switch.open .menu_list {
    display: block
}

.footer_container .current_lang {
    position: relative;
    color: #6f6f6f;
    padding: 0 10px 0 28px
}

.footer_container .current_lang:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background: url("https://static.apkpure.com/www/static/imgs/svg_icon.svg") no-repeat;
    background-position: 0 -240px
}

.footer_container .menu_list {
    position: absolute;
    display: none;
    background: #fff;
    bottom: 40px;
    -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,0.15));
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.15));
    left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 999999
}

.footer_container .menu_list::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 8px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border: 16px solid transparent;
    bottom: -27px;
    left: 0 !important;
    right: 0 !important
}

.footer_container .menu_list::before {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 8px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent
}

.footer_container .menu_list .menu_body ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 200px;
    padding: 8px 0;
    overflow-y: auto
}

.footer_container .menu_list .menu_body ul li {
    width: 100px
}

.ar_fix .footer_container .menu_list {
    right: 0;
    left: auto
}

.ar_fix .footer_container .menu_list::before {
    right: 8px;
    left: auto
}

@media (min-width: 1048px) {
    .footer_new .other {
        -webkit-box-orient:inherit;
        -webkit-box-direction: inherit;
        -webkit-flex-direction: inherit;
        -moz-box-orient: inherit;
        -moz-box-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit
    }

    .footer_container .current_box {
        margin: 0
    }
}

@media (min-width: 996px) {
    .footer_new {
        padding-top:24px;
        border-top: 1px solid #E7E7E7
    }

    .footer_new .footer_container {
        width: 90%
    }

    .footer_new .other {
        padding: 8px 0
    }

    .footer_new .other .info {
        line-height: 16px
    }

    .footer_new .other .info a {
        line-height: 16px
    }

    .footer_container .current_box.enable_switch:hover .current_lang {
        color: #24cd77
    }

    .footer_container .current_box.enable_switch:hover .current_lang::before {
        background-position: -24px -240px
    }

    .footer_container .current_box.enable_switch:hover .current_lang::after {
        border-bottom: 4px solid #000;
        border-top: 0
    }

    .footer_container .current_box.enable_switch:hover .menu_list {
        display: block
    }

    .footer_container .info .item.group {
        border: 0;
        margin-bottom: 0;
        width: auto
    }

    .footer_container .info .item ul.share-box li:last-child {
        margin-bottom: 0
    }

    .footer_container .menu_list {
        right: 0;
        left: auto
    }

    .footer_container .menu_list::after {
        right: 8px;
        left: auto
    }

    .footer_container .menu_list::before {
        right: 8px;
        left: auto
    }

    .ar_fix .footer_container .menu_list {
        left: 0;
        right: auto
    }

    .ar_fix .footer_container .menu_list::after {
        left: 8px;
        right: auto
    }

    .ar_fix .footer_container .menu_list::before {
        left: 8px;
        right: auto
    }
}

@media (min-width: 720px) {
    .footer_container>.info {
        -webkit-box-orient:inherit;
        -webkit-box-direction: inherit;
        -webkit-flex-direction: inherit;
        -moz-box-orient: inherit;
        -moz-box-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit
    }
}

#searching {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    z-index: 999999;
    background: rgba(255,255,255,0.8);
    text-align: center;
    font-size: 18px;
    color: #555;
    line-height: 45px
}